<div class="row">
    <div class="col-12 row" style="margin: 16px;">
        <span class="col-3"></span>
        <mat-form-field class="col-6" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput [formControl]="phoneNumber" />
        </mat-form-field>
        <span class="col-3"></span>
    </div>
    <div class="col-12 row" style="margin: 16px;">
        <span class="col-4"></span>
        <button mat-raised-button color="primary" class="col-4" (click)="generateOTP()" [disabled]="phoneNumber.invalid">Generate OTP</button>
    </div>
</div>